__pycache__/*.py[cod].ipynb_checkpoints/.DS_Store*.egg-info/build/dist/.venv/venv/env/.env/test-foodomicspy/.spyproject/.spyderproject/.idea/.vscode/.pytest_cache/.ruff_cache/*.log